
.gantt_container{
  width: 100%;
  position: relative;
}

#gantt_tooltip {
    position: absolute;
    display: none;
    width: max-content;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: auto;
    line-height: 9px;
    margin: 0 auto;
    color: #21669e;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    transform: translate(-40%, 40%);
    text-transform: uppercase;
    font-weight: 400;
    z-index: 55555;
  }


  table {
    border-collapse: collapse;
    z-index: -111;
    position: relative;
  }

th,
td {
  padding: 5px 10px;
  border: 1px solid lightgray;
  text-align: center;

}

th {
  font-weight: bold;
}

.occupied {
  background-color: lightblue;
  /* Adjust color for occupied days */
}

.expired {
  position: relative;
}

.expired::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.today {
  position: relative;
}

.today::after {
  content: "";
  position: absolute;
  top: 0;
  left: 96%;
  width: 5px;
  height: 100%;
  background-color: red;
  transform: translateX(-50%);
}

.top_header{
  position:sticky;
  top: 0; z-index: 10;
}

.sidebar_menus {
  z-index: 11;
  position: relative;
}
.table-wrapper {
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
}

/* random color picker  */
/* style.css */

.color1 {
  background-color: #FF5733; /* Red */
}

.color2 {
  background-color: #33FF57; /* Green */
}

.color3 {
  background-color: #3357FF; /* Blue */
}

.color4 {
  background-color: #FF33A1; /* Pink */
}

.color5 {
  background-color: #A133FF; /* Purple */
}

.color6 {
  background-color: #33FFF5; /* Cyan */
}

.color7 {
  background-color: #FFB833; /* Orange */
}

.color8 {
  background-color: #33FF8A; /* Light Green */
}

.color9 {
  background-color: #FF338F; /* Magenta */
}

.color10 {
  background-color: #3385FF; /* Light Blue */
}
